<!DOCTYPE html>
<html>
<head>
  <title>Rails Omnicalc-1</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <table style="width: 100%" border="1">
    <tr>
      <td>
        <strong>Calculators</strong>
      </td>

      <td>
        <%= link_to 'Square with Form', '/square/new' %>
      </td>

      <td>
        <%= link_to 'Square Root with Form', '/square_root/new' %>
      </td>

      <td>
        <%= link_to 'Payment with Form', '/payment/new' %>
      </td>

      <td>
        <%= link_to 'Random with Form', '/random/new' %>
      </td>
    </tr>
  </table>
  <%= yield %>
</body>
</html>
